
.nav{
    position: fixed;

}

.navbar-collapse{
    justify-content: end;
}



h2{
    color: white;
    text-align: center;
    font-weight: 100;
    font-family: 'Nunito', sans-serif;
}
/*footer*/






@media only screen and (min-width:769px) {

  .card{
      margin: 5%;
  }

  .contacto{
      background-color: white;
      padding: 10%;
      margin: 0 10%;
  }

 


}






