
.nav{
    position: fixed;

}

.navbar-collapse{
    justify-content: end;
}




h2{
    color: white;
    text-align: center;
    font-weight: 100;
}
/*footer*/

footer{
background-color:teal ;
}




@media only screen and (min-width:769px) {

  .card{
      margin: 5%;
  }


  


}






